body {
	background: url('../images/hollywood.jpg');
}

header {
	width: 100%;
	height: 40px;
	padding: 20px;
	border-bottom: 2px solid red;
	text-align: center;
	font-size: 48px;
	font-family: 'Rye', cursive;
	color: white;
}

.page-wrapper{
	width: 90%;
	margin: 0 auto;	
}

p{
	font-size: 22px;
	font-family: 'Roboto Slab', serif;
	color: white;
}

#alphabet {
  clear: auto;
  margin:15px auto;
  padding:0;
  max-width:900px;
  font-size: 18px;
}

#alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
  background: red;
  text-align: center;
  color: white;
  cursor:pointer;
  border: solid 1px white;